.Home {
  background-image: url("./assets/Background.png");
  min-height: 100vh;
  color: white;
}

.Logo {
  width: 35%;
}

.Row_Centrado {
  display: flex;
  justify-content: center;
}
.Row_CentradoI{
  display: flex;
  justify-content: center;
}

.Row_Encabezado {
  display: flex;
  justify-content: space-between;
}

.col_L {
  margin-left: 4%;
}

.col_B {
  margin-top: 2%;
  margin-right: 4%;
}

.App {
  min-height: 100vh;
  color: white;
}

h1 {
  margin-top: 23VH;
  font-size: 70px;
  display: flex;
  text-align: center;
}

h2 {
  font-size: 32px;
  font-weight: lighter;
  text-align: center;

}

h3 {
  font-size: 24px;
  text-align: center;
}

.Inicio_B {
  background-color: #d32626;
  color: #ffffff;
  border-style: solid;
  border-color: #d32626;
  font-size: 18px;
  width: 100%;
  border-radius: 7%;
  padding: 9px;
}

.Busqueda_barra {
  font-size: 18px;
  padding: 20px;
  width: 35%;
}

.Boton_busqueda {
  font-size: 33px;
  background-color: red;
  color: white;
  border-style: solid;
  border-color: red;
  margin-left: 2px;

}

/*-----------------------------------------------------------------para tablets --------------------------------*/
@media only screen and (max-width: 768px) {

  h1 {
    margin-top: 12VH;
    font-size: 50px;
    display: flex;
    text-align: center;
    margin-left: 10%;
  }

  h2 {
    padding-bottom: 5%;
    font-size: 25px;
    font-weight: lighter;
    text-align: center;

  }

  h3 {
    font-size: 18px;
    text-align: center;
    margin: 5%;
  }

  .Inicio_B {
    background-color: #d32626;
    margin-top: 10%;
    color: #ffffff;
    border-style: solid;
    border-color: #d32626;
    font-size: 15px;
    width: 100%;
    border-radius: 7%;
    padding: 5px;
    display: flex;
    align-items: center;
  }

  .Busqueda_barra {
    font-size: 18px;
    padding: 15px;
    width: 85%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 5%;
  }

  .Boton_busqueda {
    font-size: 22px;
    background-color: red;
    color: white;
    border-style: solid;
    border-color: red;
    margin-left: 35%;
    margin-top: 3%;
    border-radius: 3%;
    width: 30%;
  }
  .Row_Centrado {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .texto_Decorativo{
    display: flex;
    justify-content: center;
    margin-left:25% ;
  }
  .Imagen1{
    margin-top: -30%;
  }
}

/*-----------------------------------------------------------------para smartphone --------------------------------*/
@media only screen and (max-width: 767px) {

  h1 {
    margin-top: 23VH;
    font-size: 30px;
    display: flex;
    text-align: center;
    margin-left: 4px;
  }

  h2 {
    padding-bottom: 3%;
    font-size: 17px;
    font-weight: lighter;
    text-align: center;

  }

  h3 {
    font-size: 12px;
    text-align: center;
    margin: 5%;
  }

  .Inicio_B {
    background-color: #d32626;
    margin-top: 10%;
    color: #ffffff;
    border-style: solid;
    border-color: #d32626;
    font-size: 12px;
    width: 100%;
    border-radius: 7%;
    padding: 5px;
    display: flex;
    align-items: center;
  }

  .Busqueda_barra {
    font-size: 18px;
    padding: 15px;
    width: 85%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 3%;
  }

  .Boton_busqueda {
    font-size: 14px;
    background-color: red;
    color: white;
    border-style: solid;
    border-color: red;
    margin-left: 30%;
    margin-top: 5%;
    border-radius: 3%;
    width: 40%;
  }
  .Row_Centrado {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .Row_CentradoI{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .texto_Decorativo{
    display: flex;
    justify-content: center;
    margin-left:-35%;
    margin-top: 5%;
  }
  .Imagen1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -55%;
    margin-top: -25%;
    width: 300px;
  }
  .texto_Decorativo2{
    display: flex;
    justify-content: center;
    margin-left:-10%;
    margin-top: 5%;
  }
}

/*.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
/* -------------------------------------- navBar ------------------------------------------------------- */
.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: rgba(0, 0, 0, .4);
  /*background: #ffbcbc;*/
}

header::after {
  content: '';
  display: table;
  clear: both;

}

.logo {
  float: left;
  width: 12%;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 0 15px;
  padding: 20px;
  position: relative;
}

nav a {
  font-family: 'Kaushan Script', cursive;
  color: #9a1f40;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: #82c4c3;
}

nav a:before {
  content: '';
  display: block;
  height: 5px;
  width: 0%;
  background-color: #82c4c3;
  position: absolute;
  top: 0;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 60%;
}

.IconosNav {
  color: #9a1f40;
  font-size: 30px;
}

/* ------------------------------------- Caracteristicas--------------------------------------------------*/
.Caracteristicas {
  background-color: #000000;
  margin-top: 10px;
}

.imagen_gif {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15vh;
}
.Imagen2{
  display: flex;
  align-items: center;
  justify-content: center;
  width:40%;
  height: 70%;
}
.Imagen3{
 display: flex;
 justify-content: center;
 align-items: center;
}

.Texto_Decorativo {
  display: flex;
  justify-content: start;
  text-align: start;
}
.texo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
}

.Boton_Descargar{
  font-size: 18px;
  border-style: solid;
  border-width: 3px;
  border-color: #888888;
  background-color: #000000;
  color:#ffffff;
  width: 30%;
  padding: 10px;
  letter-spacing: 3px;
  border-radius: 20PX;
  margin-left: -25%;
  margin-top: 35%;
}
.IconSpin{
  font-size: 32px;
  color: #3797a4;
}
