.Home {
  background-image: url("./assets/Background.png");
  min-height: 100vh;
  color: white;
}

.Logo {
  width: 35%;
}

.Row_Centrado {
  display: flex;
  justify-content: center;
}

.Row_Encabezado {
  display: flex;
  justify-content: space-between;
}

.col_L {
  margin-left: 4%;
}

.col_B {
  margin-top: 2%;
  margin-right: 4%;
}

.App {
  min-height: 100vh;
  color: white;
}

h1 {
  margin-top: 23VH;
  font-size: 70px;
  display: flex;
  text-align: center;
}

h2 {
  font-size: 32px;
  font-weight: lighter;
  text-align: center;

}

h3 {
  font-size: 24px;
  text-align: center;
}

.Inicio_B {
  background-color: #d32626;
  color: #ffffff;
  border-style: solid;
  border-color: #d32626;
  font-size: 18px;
  width: 100%;
  border-radius: 7%;
  padding: 9px;
}

.Busqueda_barra {
  font-size: 18px;
  padding: 20px;
  width: 35%;
}

.Boton_busqueda {
  font-size: 33px;
  background-color: red;
  color: white;
  border-style: solid;
  border-color: red;
  margin-left: 2px;

}

/*-----------------------------------------------------------------para tablets --------------------------------*/
@media only screen and (max-width: 768px) {

  h1 {
    margin-top: 15VH;
    font-size: 50px;
    display: flex;
    text-align: center;
  }

  h2 {
    padding-bottom: 5%;
    font-size: 25px;
    font-weight: lighter;
    text-align: center;

  }

  h3 {
    font-size: 18px;
    text-align: center;
    margin: 5%;
  }

  .Inicio_B {
    background-color: #d32626;
    margin-top: 10%;
    color: #ffffff;
    border-style: solid;
    border-color: #d32626;
    font-size: 15px;
    width: 100%;
    border-radius: 7%;
    padding: 5px;
    display: flex;
    align-items: center;
  }

  .Busqueda_barra {
    font-size: 18px;
    padding: 15px;
    width: 40%;
  }

  .Boton_busqueda {
    font-size: 25px;
    background-color: red;
    color: white;
    border-style: solid;
    border-color: red;
    margin-left: 2px;
  }
}

/*-----------------------------------------------------------------para tablets --------------------------------*/
@media only screen and (max-width: 767px) {

  h1 {
    margin-top: 23VH;
    font-size: 30px;
    display: flex;
    text-align: center;
  }

  h2 {
    padding-bottom: 3%;
    font-size: 17px;
    font-weight: lighter;
    text-align: center;

  }

  h3 {
    font-size: 12px;
    text-align: center;
    margin: 5%;
  }

  .Inicio_B {
    background-color: #d32626;
    margin-top: 10%;
    color: #ffffff;
    border-style: solid;
    border-color: #d32626;
    font-size: 12px;
    width: 100%;
    border-radius: 7%;
    padding: 5px;
    display: flex;
    align-items: center;
  }

  .Busqueda_barra {
    font-size: 15px;
    padding: 10px;
    width: 50%;
  }

  .Boton_busqueda {
    font-size: 11px;
    background-color: red;
    color: white;
    border-style: solid;
    border-color: red;
    margin-left: 2px;
    width: 35%;
    font-weight: bold;
  }
}
/*.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
/* -------------------------------------- navBar ------------------------------------------------------- */
.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: rgba(0, 0, 0, .4);
  /*background: #ffbcbc;*/
}

header::after {
  content: '';
  display: table;
  clear: both;

}

.logo {
  float: left;
  width: 12%;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 0 15px;
  padding: 20px;
  position: relative;
}

nav a {
  font-family: 'Kaushan Script', cursive;
  color: #9a1f40;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: #82c4c3;
}

nav a:before {
  content: '';
  display: block;
  height: 5px;
  width: 0%;
  background-color: #82c4c3;
  position: absolute;
  top: 0;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 60%;
}

.IconosNav {
  color: #9a1f40;
  font-size: 30px;
}